/*
*   file upload form
*/
.file-upload-wrapper,
.file-upload-wrapper a,
.fake-btn,
.file-upload-wrapper .submit-btn{
    font-family: inherit;
}
.fake-btn{
  margin: 0 auto;
  display: block;
  text-align: center;
  max-width: 160px;
}

.fake-btn  label {
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}


.fake-btn:focus  label,
.fake-btn.has-focus  label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.fake-btn  label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}


.fake-btn  label {
    color: #333;
}

.fake-btn:focus  label,
.fake-btn.has-focus  label,
.fake-btn  label:hover {
    color: #722040;
}

.fake-btn  label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #007bb9;
    display: block;
    padding: 20px;
}

.fake-btn:focus  label figure,
.fake-btn.has-focus  label figure,
.file-upload-wrapper:hover figure {
    /*background-color: #005682;*/
}

.fake-btn  label svg {
    width: 100%;
    height: 100%;
    fill: #ffffff;
}

.file-upload-wrapper form{
  margin-bottom: 25px;
}
.file-drop-area {

  border:2px dashed #007bb9;
  border-radius: 3px;
  position: relative;
  max-width: 100%;
  margin: 5px auto;
  text-align: center;
  padding: 26px 20px 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.file-drop-area.is-active {
  /*background-color: #f2f2f2;*/
}

.file-upload-wrapper .submit-btn{
  display: block;
  background-color: #007bb9;
  border: 1px solid #008fd6;
  border-radius: 3px;
  padding: 8px 15px;
  margin:0 auto;
  font-size: 12px;
  color: #ffffff;
}

.file-upload-wrapper .submit-btn:hover{
  background-color: #007bb9;
}

.file-upload-wrapper .submit-btn{
  width: 200px;
  margin: 10px auto 5px;
}

.file-msg {
  font-size: 20px;
  font-size: 1.9rem;
  font-weight: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: calc(100% - 60px);
  vertical-align: middle;
  margin: 50px 0;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
.file-input:focus {
  outline: none;
}

.shortlink-wrapper  fieldset{
  border: none;
}
.shortlink-wrapper lable{
  color: #ffffff;
  font-size: 18px;
  font-size: 1.8rem;
}
a.copy-btn{
  color: #ffffff;
  cursor: pointer;
  margin: 0 10px;
}
.copy-btn:hover{
  color: #ffffff;
}
.copy-msg{
  color: #ffffff;
}
.error-message{
  color: #ff0000;
}

.shortlink-wrapper{
  display: none;
  padding: 30px;
  border-radius: 8px;
  font-size: inherit;
  background: #2196F3;
}
.shortlink-wrapper #shortlink{
  margin-top: 10px;
}

.loader {
  visibility: hidden;
  bottom: 20px;
  left: 50%;
  margin-left: -25px;
  position:absolute;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}